################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/My-restaurant/v16/Browse.VC.opendb
